// Подключаем стандартные заголовки ресурсов Windows
#include <windows.h>

// 1. ИКОНКА ПРИЛОЖЕНИЯ
// Убедись, что файл plezix.ico лежит в той же папке, что и этот файл!
// Число 1 означает, что это иконка по умолчанию для EXE
1 ICON "icon.ico"

// 2. ИНФОРМАЦИЯ О ВЕРСИИ (Отображается в свойствах файла и настройках)
VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "040904E4" // Английский (США), Unicode
BEGIN
VALUE "CompanyName",      "Plezix Inc."
VALUE "FileDescription",  "Plezix Web Browser"
VALUE "FileVersion",      "1.0.0.0"
VALUE "InternalName",     "Plezix"
VALUE "LegalCopyright",   "Copyright (C) 2025 Plezix"
VALUE "OriginalFilename", "browser.exe"
VALUE "ProductName",      "Plezix Browser"
VALUE "ProductVersion",   "1.0.0.0"
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x409, 1252
END
END