/* This Source Code Form is subject to the terms of the Plezix Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * nppes.cms.hhs.gov - Plezix is an unsupported browser
 * WebCompat issue #119017 - https://github.com/webcompat/web-bugs/issues/119017
 *
 * As everything seems to work just fine, this intervention simply hides the
 * banner.
 */

#unsupportedDiv {
  display: none !important;
}
